html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    width: 940px;
    padding: 20px;
    -webkit-text-size-adjust: 100%;
}

#tel {
    text-align: center;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

#tel a {
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 3em;
}

h1 {
    margin: 0px;
    font-size: 4em;
}

hr {
    margin: 0;
}

p {
    margin: 0px;
    font-size: 32px;
}

p.gray {
    color: gray;
}

.imgbox {
    width: 100%;
    height: 315px;
}

img,
iframe {
    width: 100%;
    height: 315px;
    object-fit: cover;
    background-color: white;
}

header {
    height: 70px;
}

#enIcon a {
    bottom: -40px;
    right: -40px;
    width: 260px;
    height: 260px;
    background-color: red;
    position: fixed;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    border-bottom-left-radius: 130px;
}

#enIcon span {
    bottom: 45px;
    right: 30px;
    position: fixed;
    font-size: 60px;
    text-decoration: none;
    color: white;
}

#name {
    background-color: black;
    color: white;
}

input[type=radio] {
    display: none;
}

label {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    float: right;
}

input:checked + label {
    color: white;
    background-color: black;
}

#loading {
    top: 0;
    left: 0;
    width: 10000px;
    height: 10000px;
    background-color: white;
    position: fixed;
    z-index: 1;
}
